<!DOCTYPE html><html><head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Raj Network Solutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobirise2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="{{ url_for('static', filename='css/mbr-additional.css') }}" type="text/css">
  
  
  
  
</head>
<body>
  
  <style>
    .navbar-nav.nav-dropdown .nav-link {
        font-size: 40px; /* Adjust the font size as needed */
    }

    .navbar-nav.nav-dropdown {
        margin-right: 550px;
    }

    .custom-bg-section {
    background-color: #e8e8e8; /* Set background color to #e8e8e8 */
    padding-top: 60px; /* Adjust top padding as needed */
    padding-bottom: 60px; /* Adjust bottom padding as needed */
    }
    </style>

  <section data-bs-version="5.1" class="menu menu1 supplym5 cid-tpT23XlIIt" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="menu_box container">
            <div class="navbar-brand d-flex d-lg-none">
                
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4" href="index.html">RN Solutions
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-brand d-none d-lg-flex">
                
                    <span class="navbar-caption-wrap"><a class="navbar-caption display-4" href="index.html">RN Solutions</a></span>
                </div>
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    
                    
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Collection</a></li>
                </ul>

                

                
                
            </div>
        </div>
    </nav>
</section>


<section class="ftco-section custom-bg-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
        <div class="product d-flex flex-column">
          <a href="categories-thermal-paper.html" target="_blank" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/80mm-x-80mm-Panda-Thermal-Rolls-Photoroom.png-Photoroom.png') }}" alt="Colorlib Template"></a>
          <div class="text py-3 pb-4 px-3">
            <h3 class="text-center"><a href="categories-thermal-paper.html" target="_blank">Thermal Paper Roll</a></h3>
          </div>
        </div>
      </div>
      <!-- Repeat the same structure for other product items -->
      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
        <div class="product d-flex flex-column">
          <a href="categories-cat-6-patch-cord.html" target="_blank" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/41Gm51dNZNL._AC_UF1000,1000_QL80_-Photoroom.png-Photoroom (1).png') }}" alt="Colorlib Template"></a>
          <div class="text py-3 pb-4 px-3">
            <h3 class="text-center"><a href="categories-thermal-paper.html" target="_blank">Cat-6 Patch Cord</a></h3>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
        <div class="product d-flex flex-column">
          <a href="categories-gcc-lan-cable.html" target="_blank" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/8-TiuoG6vspxKdiK3-Photoroom.png-Photoroom (1).png') }}" alt="Colorlib Template"></a>
          <div class="text py-3 pb-4 px-3">
            <h3 class="text-center"><a href="categories-thermal-paper.html" target="_blank">Gcc Lan Cable</a></h3>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-12 col-lg-4 ftco-animate d-flex">
        <div class="product d-flex flex-column">
          <a href="categories-local-network-switch.html" target="_blank" class="img-prod"><img class="img-fluid" src="{{ url_for('static', filename='images/71T9bNpcN1L-Photoroom.png-Photoroom (1).png') }}" alt="Colorlib Template"></a>
          <div class="text py-3 pb-4 px-3">
            <h3 class="text-center"><a href="categories-thermal-paper.html" target="_blank">Thermal Paper Roll</a></h3>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>








<section data-bs-version="5.1" class="footer1 cid-tpT2gCGI9U" once="footers" id="footer1-7">

    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
                
                <div class="soc-wrapper">
                    <a href="https://www.facebook.com/link73876" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                            Facebook
                        </div>
                    </a>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                        Twitter
                    </p>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mobi-mbri mobi-mbri-letter mbr-iconfont"></span>
                        link73876@yahoo.com
                    </p>
                    <a href="https://www.instagram.com/amitshah_03/" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                            Instagram
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <ul class="list mbr-fonts-style display-7">
                    <li class="mbr-text item-wrap">About us</li>
                    <li class="mbr-text item-wrap">Cookie</li>
                    <li class="mbr-text item-wrap">Privacy policy</li>
                </ul>
            </div>
            <div class="col-12">
                <p class="mbr-fonts-style copyright display-7">
                    © Copyright 2030 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar-dropdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/embla.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vimeo_player.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mbr-tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script_1.js') }}"></script>
  
  
  

</body></html>