<!DOCTYPE html><html><head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Raj Network Solutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobirise2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="{{ url_for('static', filename='css/mbr-additional.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/thermal-paper-individual.css') }}">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu1 supplym5 cid-tpT23XlIIt" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="menu_box container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-brand d-none d-lg-flex">
                
                    <span class="navbar-caption-wrap"><a class="navbar-caption display-4" href="#header1-1">RN Solutions</a></span>
                </div>
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-primary display-4" href="../index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#features1-2">About Us</a></li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#slider1-f">Products</a></li>
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="categories2.html" target="_blank">Collection</a></li><li class="nav-item"><a class="nav-link link text-primary display-4" href="#pricing1-c">Prices</a></li><li class="nav-item"><a class="nav-link link text-primary display-4" href="#gallery1-g">Gallery</a></li></ul>

                

                <div class="mbr-section-btn-main" role="tablist"><a class="btn btn-primary-outline display-4" href="#">
                        <strong>Buy Now</strong>
                    </a></div>
                
            </div>
        </div>
    </nav>
</section>

<section data-bs-version="5.1" class="header1 supplym5 cid-tpT24jhW5V mbr-fullscreen" id="header1-1">
    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h1 class="mbr-section-title mbr-fonts-style display-1">Raj Network Solutions</h1>
                    
                    <div class="mbr-section-btn"><a class="btn btn-primary display-4" href="#">
                            <strong>READY!</strong>
                        </a></div>
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <div class="image-wrapper">
                    <img class="image_1" src="{{ url_for('static', filename='images/background2.jpg') }}" alt="">
                    <img class="image_2" src="{{ url_for('static', filename='images/128d6810-1cfa-4e66-983f-4ccb1139bbc0.jpg') }}" alt="">
                    <img class="image_3" src="{{ url_for('static', filename='images/image5.jpg') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content1 supplym5 cid-tpT26jueGW" id="content1-3">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="text-container">
                    <div class="text-wrapper">
                        <p class="mbr-text mbr-fonts-style display-7">
                            To shop
                        </p>
                        <p class="mbr-desc mbr-fonts-style display-7">
                            <span class="mobi-mbri mobi-mbri-shopping-bag mbr-iconfont"></span>
                            <strong>go</strong> <em>to store</em>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 supplym5 cid-tpT24QrIYC" id="features1-2">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        How we works
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 card">
                <div class="card-wrapper">
                    <div class="num-wrapper">
                        <p class="mbr-number_1 mbr-fonts-style display-4">
                            01
                        </p>
                        <span class="mbr-iconfont mobi-mbri-user-2 mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h2 class="mbr-card-title_1 mbr-fonts-style display-4">
                            <strong>Find</strong>
                        </h2>
                        <p class="mbr-text_1 mbr-fonts-style display-7">
                            Discover our products easily with simple search tools.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card">
                <div class="card-wrapper">
                    <div class="num-wrapper">
                        <p class="mbr-number_2 mbr-fonts-style display-4">
                            02
                        </p>
                        <span class="mbr-iconfont mobi-mbri-users mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h2 class="mbr-card-title_2 mbr-fonts-style display-4">
                            <strong>Follow</strong>
                        </h2>
                        <p class="mbr-text_2 mbr-fonts-style display-7">
                            Navigate our seamless process with clear, step-by-step instructions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 card">
                <div class="card-wrapper">
                    <div class="num-wrapper">
                        <p class="mbr-number_3 mbr-fonts-style display-4">
                            03
                        </p>
                        <span class="mbr-iconfont mobi-mbri-cash mobi-mbri"></span>
                    </div>
                    <div class="text-wrapper">
                        <h2 class="mbr-card-title_3 mbr-fonts-style display-4">
                            <strong>Easy pay</strong>
                        </h2>
                        <p class="mbr-text_3 mbr-fonts-style display-7">
                            Complete transactions swiftly with secure and convenient payment options.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features6 supplym5 cid-tpT2cNLRfL" id="features6-5">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card-wrapper">
                    <div class="card card_1">
                        <img class="image" src="{{ url_for('static', filename='images/2-bicubic-triangle.png') }}" alt="">
                        <h4 class="mbr-section-title mbr-fonts-style display-7">
                            <strong>Roll</strong>
                        </h4>
                        <p class="mbr-desc mbr-fonts-style display-4">
                            Standard Sizes<br>
                            56mm x 17m<br>
                            100mm x 100m<br>
                            Custom made possible
                        </p>
                        <div class="price-wrapper">
                            <p class="mbr-price_1 mbr-fonts-style display-4">
                                ₹14
                            </p>
                        </div>
                    </div>
                    <img class="image-arrow" src="{{ url_for('static', filename='images/1.png') }}" alt="">
                    <div class="card card_2">
                        <img class="image" src="{{ url_for('static', filename='images/3.png') }}" alt="">
                        <h4 class="mbr-section-title mbr-fonts-style display-7">
                            <strong>CAT-6 Patch Cords</strong>
                        </h4>
                        <p class="mbr-desc mbr-fonts-style display-4">
                            High-quality CAT-6 patch cords for reliable network connectivity. Available in various lengths to suit your needs.
                        </p>
                        <div class="price-wrapper">
                            <p class="mbr-price_2 mbr-fonts-style display-4">
                                ₹100
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features4 supplym5 cid-tpT2aSrDcX" id="features4-4">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        Simplifying Your Supply Chain
                    </h2>
                    <p class="mbr-desc mbr-fonts-style display-7">
                        Providing seamless solutions for your business needs.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card card_1">
                <div class="card-wrapper">
                    <h2 class="mbr-card-title_1 mbr-fonts-style display-7">
                        <strong>Thermal Paper Rolls</strong>
                    </h2>
                    <p class="mbr-text_1 mbr-fonts-style display-4">
                        At our company, we specialize in supplying a wide range of thermal paper rolls suitable for various applications. From standard sizes to custom lengths, we ensure that our rolls meet the highest quality standards. Whether you need thermal paper rolls for point-of-sale systems, cash registers, or other thermal printing devices, we have you covered.
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card card_2">
                <div class="card-wrapper">
                    <h2 class="mbr-card-title_2 mbr-fonts-style display-7">
                        <strong>CAT-6 Patch Cords</strong>
                    </h2>
                    <p class="mbr-text_2 mbr-fonts-style display-4">
                        Ensure reliable network connectivity with our high-quality CAT-6 patch cords. Made from premium materials, our patch cords are designed to deliver superior performance and durability. Whether you need patch cords for your home or office network, we offer a wide range of lengths and colors to suit your requirements. Trust us to provide you with the connectivity solutions you need.  
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card card_3">
                <div class="card-wrapper">
                    <h2 class="mbr-card-title_3 mbr-fonts-style display-4">
                        <strong>Year of Establishment</strong>
                    </h2>
                    <p class="mbr-text_3 mbr-fonts-style display-4">
                        Established in 2002, our company has been a trusted supplier of thermal paper rolls, POS rolls, and CAT-6 patch cords for over two decades. With our commitment to quality and customer satisfaction, we have built a strong reputation in the industry. Over the years, we have served countless customers and earned their trust through our reliable products and exceptional service.
                    </p>
                </div>
            </div>
            
            
            
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features8 supplym5 cid-tpT2eY0T8K" id="features8-6">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 card">
                <img src="{{ url_for('static', filename='images/image13.jpg') }}" alt="">
                <div class="text-wrapper">
                    <h3 class="mbr-desc_1 mbr-fonts-style display-4">
                        Business Supplier
                    </h3>
                    <p class="mbr-section-title_1 mbr-fonts-style display-7">
                        <strong>We specialize in supplying high-quality thermal paper rolls, POS rolls, and CAT-6 patch cords to businesses of all sizes. With our extensive product range and customization options, we cater to diverse industries and ensure reliable supply chain management.</strong>
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-6 card">
                <div class="text-wrapper">
                    <h3 class="mbr-desc_2 mbr-fonts-style display-4">
                        Supplier Post
                    </h3>
                    <p class="mbr-section-title_2 mbr-fonts-style display-7">
                        <strong>Stay informed about the latest updates, news, and announcements from our team. Our supplier post section features insights, new product launches. Check back regularly for the latest updates!</strong>
                    </p>
                </div>
                <img src="{{ url_for('static', filename='images/image4.jpg') }}" alt="">
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="slider1 mbr-embla cid-tpT4cin415" id="slider1-f">

    

    
    
    <div class="position-relative">
        <div class="col-12">
            <h2 class="mbr-section-title mbr-fonts-style display-2">
                Our top products
            </h2>
        </div>
        <div class="embla" data-skip-snaps="true" data-align="center" data-contain-scroll="trimSnaps" data-loop="true" data-auto-play-interval="5" data-draggable="true">
            <div class="embla__viewport container-fluid">
                <div class="embla__container">
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{{ url_for('static', filename='images/8-a3thLS7zMpZEPUj.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>Thermal Paper Product</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Thermal paper rolls: perfect for receipts in petrol pumps, cafes, retail shops, and various businesses. Explore our selection for your needs.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{{ url_for('static', filename='images/8-zTnuMb2Rrtn3Fqz.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>GCC Patch Cords Product</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    GCC Patch Cords: Reliable Connectivity for Networks in Offices, Data Centers, and Home Setups. Explore our Range for Seamless Networking Solutions!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{{ url_for('static', filename='images/3-18-x-1960-Thermal-Paper-Rolls-w-Sense-Mark_4786__94292 (1).jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>ATM Thermal Paper Product</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    ATM Thermal Paper Rolls: Ensure smooth and secure transactions with our high-quality rolls designed specifically for ATM usage. Trusted by banks and financial institutions worldwide for their reliability and durability.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{{ url_for('static', filename='images/8-fc0JD6GWetUnE6u.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>Custom Printed BOPP Tape Product</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Custom Printed BOPP Tape: Elevate Your Brand with Personalized Packaging Solutions. From logos to messages, create a lasting impression with our customizable BOPP tape service.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="embla__slide slider-image item" style="margin-left: 1rem; margin-right: 1rem;">
                        <div class="card-wrap">
                            <div class="item-wrapper position-relative">
                                <div class="image-wrap">
                                    <img src="{{ url_for('static', filename='images/8-7TTmvGW7sBKdYg8.jpg') }}" alt="">
                                </div>
                            </div>
                            <div class="content-wrap">
                                <h4 class="mbr-card-title mbr-fonts-style display-7">
                                    <strong>Fiber Patch Cords Product</strong>
                                </h4>
                                <p class="mbr-text mbr-fonts-style display-4">
                                    Discover our comprehensive selection of Fiber Patch Cords, including LC-SC duplex, SC-SC duplex single-mode, ST-SC multimode, and LC-LC multimode options. Ensure seamless data transmission and dependable network performance with our top-quality fiber optic cables.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="embla__button embla__button--prev">
                <span class="mobi-mbri mobi-mbri-arrow-prev mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Previous</span>
            </button>
            <button class="embla__button embla__button--next">
                <span class="mobi-mbri mobi-mbri-arrow-next mbr-iconfont" aria-hidden="true"></span>
                <span class="sr-only visually-hidden visually-hidden">Next</span>
            </button>
        </div>
    </div>
</section>







<section data-bs-version="5.1" class="features3 supplym5 cid-tpT3wxRXyR" id="features3-9">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        Focus on product
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 cards_1">
                <div class="card-wrapper">
                    <p class="mbr-text_1 mbr-fonts-style display-4">
                        Tech Innovations Empowering Connections
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_3 mbr-fonts-style display-4">
                        Paper Roll Solutions, Seamless Transactions
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_2 mbr-fonts-style display-4">
                        Patch Cords for Reliable Networking
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 cards_2">
                <div class="card-wrapper">
                    <p class="mbr-text_2 mbr-fonts-style display-4">
                        Patch Cords for Reliable Networking
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_1 mbr-fonts-style display-4">
                        Fiber Optic Connectivity, Fast Transfers
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_3 mbr-fonts-style display-4">
                        Streamlined Business Essentials
                    </p>
                </div>
            </div>
            <div class="col-12 col-lg-4 cards_3">
                <div class="card-wrapper">
                    <p class="mbr-text_3 mbr-fonts-style display-4">
                        Effortless Business Solutions, Every Step
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_1 mbr-fonts-style display-4">
                        Business Solutions, From Paper to Patch
                    </p>
                </div>
                <div class="card-wrapper">
                    <p class="mbr-text_2 mbr-fonts-style display-4">
                        Connectivity Unwrapped: Your Office Essentials Hub
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="tabs1 supplym5 cid-tpT3Dc7xXH" id="tabs1-b">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        For retailers
                    </h2>
                </div>
                <div class="tabs-wrapper">
                    <ul class="nav nav-tabs " role="tablist">
                        <li class="nav-item first mbr-fonts-style">
                            <a class="nav-link mbr-fonts-style show active display-4" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab1" aria-selected="true">
                                Shopping
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-4" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab2" aria-selected="true">
                                Retail
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-4" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab2" aria-selected="true">
                                Retailers
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mbr-fonts-style display-4" role="tab" data-toggle="tab" data-bs-toggle="tab" href="#tab2" aria-selected="true">
                                Cash
                            </a>
                        </li>
                        
                        
                    </ul>
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane in active" role="tabpanel">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Explore our collection of premium thermal paper rolls and POS supplies designed to elevate your shopping experience. From crisp receipts to efficient transactions, we've got you covered.
                            </p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-primary display-4" href="#">
                                    <strong>READ MORE</strong>
                                </a>
                            </div>
                        </div>
                        <div id="tab2" class="tab-pane" role="tabpanel">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Elevate your retail operations with our high-quality thermal paper rolls and POS supplies. Streamline transactions, enhance customer service, and boost efficiency with our premium products.
                            </p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-info display-4" href="#">
                                    <strong>READ MORE</strong>
                                </a>
                            </div>
                        </div>
                        <div id="tab3" class="tab-pane" role="tabpanel">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Calling all retailers! Partner with us to offer top-notch thermal paper rolls and POS supplies to your customers. Enhance your product offerings, boost sales, and provide added value to your clientele.
                            </p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-primary display-4" href="#">
                                    <strong>READ MORE</strong>
                                </a>
                            </div>
                        </div>
                        <div id="tab4" class="tab-pane" role="tabpanel">
                            <p class="mbr-text mbr-fonts-style display-7">
                                Optimize your cash handling procedures with our premium thermal paper rolls and POS supplies. Ensure clear receipts, streamline transactions, and improve overall efficiency at your point of sale.
                            </p>
                            <div class="mbr-section-btn">
                                <a class="btn btn-info display-4" href="#">
                                    <strong>READ MORE</strong>
                                </a>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="pricing1 supplym5 cid-tpT3ExF8iC" id="pricing1-c">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-2">
                        Our prices
                    </h2>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-shopping-basket mobi-mbri"></span>
                    </div>
                    <h3 class="mbr-price mbr-fonts-style display-5">
                        15$
                    </h3>
                    <p class="mbr-desc mbr-fonts-style display-7">
                        First product
                    </p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-primary display-4" href="#">
                            <strong>BUY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-shopping-basket mobi-mbri"></span>
                    </div>
                    <h3 class="mbr-price mbr-fonts-style display-5">
                        35$
                    </h3>
                    <p class="mbr-desc mbr-fonts-style display-7">
                        Standard product
                    </p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-secondary display-4" href="#">
                            <strong>BUY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-md-6 card">
                <div class="card-wrapper">
                    <div class="icon-wrapper">
                        <span class="mbr-iconfont mobi-mbri-shopping-basket mobi-mbri"></span>
                    </div>
                    <h3 class="mbr-price mbr-fonts-style display-5">
                        75$
                    </h3>
                    <p class="mbr-desc mbr-fonts-style display-7">
                        Lux product
                    </p>
                    <div class="mbr-section-btn">
                        <a class="btn btn-primary display-4" href="#">
                            <strong>BUY NOW</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section data-bs-version="5.1" class="gallery1 supplym5 cid-tpT4m6r0VK" id="gallery1-g">

    

    
    

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-wrapper">
                    <h2 class="mbr-section-title mbr-fonts-style display-5">
                        Shop gallery
                    </h2>
                    <p class="mbr-text mbr-fonts-style display-7">
                        Placeat quam quia, quisquam rem rerum saepe sunt
                    </p>
                </div>
            </div>
            <div class="item features-image сol-12 col-lg-6 col-md-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ url_for('static', filename='images/image5.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-lg-6 col-md-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ url_for('static', filename='images/image13.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-lg-6 col-md-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ url_for('static', filename='images/image15.jpg') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="item features-image сol-12 col-lg-6 col-md-6">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{{ url_for('static', filename='images/image8.jpg') }} " alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer1 cid-tpT2gCGI9U" once="footers" id="footer1-7">

    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
                
                <div class="soc-wrapper">
                    <a href="https://www.facebook.com/link73876" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                            Facebook
                        </div>
                    </a>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                        Twitter
                    </p>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mobi-mbri mobi-mbri-letter mbr-iconfont"></span>
                        link73876@yahoo.com
                    </p>
                    <a href="https://www.instagram.com/amitshah_03/" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                            Instagram
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <ul class="list mbr-fonts-style display-7">
                    <li class="mbr-text item-wrap">About us</li>
                    <li class="mbr-text item-wrap">Cookie</li>
                    <li class="mbr-text item-wrap">Privacy policy</li>
                </ul>
            </div>
            <div class="col-12">
                <p class="mbr-fonts-style copyright display-7">
                    © Copyright 2030 Raj Network Solutions - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar-dropdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/embla.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vimeo_player.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mbr-tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script_1.js') }}"></script>
  
  
  

</body></html>