<!DOCTYPE html><html><head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/logo.png') }}" type="image/x-icon">
  <meta name="description" content="">
  
  
  <title>Raj Network Solutions</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mobirise2.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
  <link rel="preload" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&amp;display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Hanken+Grotesk:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
  <link rel="preload" as="style" href="assets/mobirise/css/mbr-additional.css"><link rel="stylesheet" href="{{ url_for('static', filename='css/mbr-additional.css') }}" type="text/css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.0.1/css/ionicons.min.css" integrity="sha512-N82rgUMonx/xHSU0sRST/+WkxTDsUu6y25X9Ks3i5ZzA6KUEawF2xTwdL7lOxt4VrohCGM3rU6F1WffY5jJmpQ==" crossorigin="anonymous" />

  
  
  
</head>
<body>
  
  <style>
    .navbar-nav.nav-dropdown .nav-link {
        font-size: 40px; /* Adjust the font size as needed */
    }

    .navbar-nav.nav-dropdown {
        margin-right: 550px;
    }

    .custom-bg-section {
    background-color: #e8e8e8; /* Set background color to #e8e8e8 */
    padding-top: 60px; /* Adjust top padding as needed */
    padding-bottom: 60px; /* Adjust bottom padding as needed */
    }
    </style>

  <section data-bs-version="5.1" class="menu menu1 supplym5 cid-tpT23XlIIt" once="menu" id="menu1-0">

    

    <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
        <div class="menu_box container">
            <div class="navbar-brand d-flex d-lg-none">
                
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4" href="index.html">RN Solutions
                    </a>
                </span>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="navbar-brand d-none d-lg-flex">
                
                    <span class="navbar-caption-wrap"><a class="navbar-caption display-4" href="index.html">RN Solutions</a></span>
                </div>
                <ul class="navbar-nav nav-dropdown" data-app-modern-menu="true">
                    
                    
                    <li class="nav-item"><a class="nav-link link text-primary display-4" href="#">Collection</a></li>
                </ul>

                

                
                
            </div>
        </div>
    </nav>
</section>

<section class="ftco-section cid-tpT4cin415">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 ftco-animate">
        <a class="image-popup prod-img-bg"><img src="{{ url_for('static', filename='images/80mm-x-80mm-Panda-Thermal-Rolls.jpg') }}" class="img-fluid"></a>
      </div>
      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
        <h3>Thermal Paper Roll</h3>
        <div class="rating d-flex">
              <p class="text-left mr-4">
                <a href="#" class="mr-2">5.0</a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
                <a href="#"><span class="ion-ios-star-outline"></span></a>
              </p>
              <p class="text-left mr-4">
                <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Rating</span></a>
              </p>
              <p class="text-left">
                <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Sold</span></a>
              </p>
            </div>
        <p class="price"><span>₹14.00</span></p>
            <p>Introducing our premium Thermal Paper Roll – the perfect solution for crisp, high-quality prints every time.</p>
            <p>Say goodbye to smudged prints and faded text. Our Thermal Paper Roll ensures clear and long-lasting prints, ideal for receipts, labels, and more. Crafted from high-quality materials, our Thermal Paper Roll guarantees durability and reliability, even in demanding environments. Whether you're running a retail store, restaurant, or office, our Thermal Paper Roll is your go-to solution for efficient printing and record-keeping. Upgrade your printing experience today and experience the difference with our premium Thermal Paper Roll.
            </p>
            <p>Don't just take our word for it – see what our customers have to say: 'The Thermal Paper Roll from RAJ NETWORK SOLUTIONS exceeded my expectations. Crisp prints every time!'</p>
            <div class="row mt-4">
              <div class="col-md-6">
                <div class="form-group d-flex">
                  <div class="select-wrap">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="" id="" class="form-control">
                      <option value="">Small</option>
                      <option value="">Medium</option>
                      <option value="">Large</option>
                      <option value="">Extra Large</option>
                    </select>    
      </div>
    </div>
      
  </div>
  
</section>









<section data-bs-version="5.1" class="footer1 cid-tpT2gCGI9U" once="footers" id="footer1-7">

    

    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6">
                
                <div class="soc-wrapper">
                    <a href="https://www.facebook.com/link73876" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                            Facebook
                        </div>
                    </a>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mbr-iconfont socicon socicon-twitter"></span>
                        Twitter
                    </p>
                    <p class="mbr-soc mbr-fonts-style display-7">
                        <span class="mobi-mbri mobi-mbri-letter mbr-iconfont"></span>
                        link73876@yahoo.com
                    </p>
                    <a href="https://www.instagram.com/amitshah_03/" target="_blank">
                        <div class="mbr-soc mbr-fonts-style display-7">
                            <span class="mbr-iconfont socicon socicon-instagram"></span>
                            Instagram
                        </div>
                    </a>

                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6">
                <ul class="list mbr-fonts-style display-7">
                    <li class="mbr-text item-wrap">About us</li>
                    <li class="mbr-text item-wrap">Cookie</li>
                    <li class="mbr-text item-wrap">Privacy policy</li>
                </ul>
            </div>
            <div class="col-12">
                <p class="mbr-fonts-style copyright display-7">
                    © Copyright 2030 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/smooth-scroll.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
  <script src="{{ url_for('static', filename='js/navbar-dropdown.js') }}"></script>
  <script src="{{ url_for('static', filename='js/embla.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script src="{{ url_for('static', filename='js/vimeo_player.js') }}"></script>
  <script src="{{ url_for('static', filename='js/mbr-tabs.js') }}"></script>
  <script src="{{ url_for('static', filename='js/script_1.js') }}"></script>
  
  
  

</body></html>